.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.progress_box {
    border: 1px solid #ccc;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    left: 50%;
    max-width: 400px;
    min-width: 300px;
    position: absolute;
    top: 45%;
    transform: translateX(-50%);
    width: 100%;
}
.progress_box__header {
    background-color: #999;
    padding: 8px 10px;
    position: relative;
}
.progress_box_header__label {
    color: #ccc;
    font-family: sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 120%;
}
.progress_box_header_close {
    background-image: -moz-linear-gradient(center top , #f7f7f7, #e7e7e7);
    border-radius: 50%;
    box-shadow: 0 3px 8px #aaa, 0 2px 3px #fff inset;
    color: #999;
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 8px;
    width: 22px;
}
.progress_box__content {
    padding: 20px 10px;
}
.progress_box_content__bar {
    border: 1px solid #ccc;
    height: 16px;
    margin: 0 auto;
    width: 60%;
}
.progress_box_content__notification {
    color: #999;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 150%;
    text-align: center;
    margin-top: 15px;
}
.hidden {
    display: none;
}
.progress_lead{
	background: rgb(167,207,223); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(167,207,223) 0%, rgb(35,83,138) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgb(167,207,223) 0%,rgb(35,83,138) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgb(167,207,223) 0%,rgb(35,83,138) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
	width: 0%;
	height: 100%;
	transition: all 0.3s ease 0.3s;
}
.progress_lead.completed{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#73880a+19,2d3304+94 */
background: rgb(115,136,10); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(115,136,10) 19%, rgb(45,51,4) 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(115,136,10) 19%,rgb(45,51,4) 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(115,136,10) 19%,rgb(45,51,4) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73880a', endColorstr='#2d3304',GradientType=0 ); /* IE6-9 */

}